html {
    font-family: Arial;
  }

  header {
    color: black;
    margin: 10px;
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
  }

  code {
    display: block;
    background-color: lightgrey;
    position: relative;
    word-wrap: normal;
    padding: 10px;
    margin: 10px;
  }
  
  #navbar {
    position: fixed;
    border-right: solid 3px;
    border-color: black;
    height: 100%;
    width: 250px;
  }
  
  #navbar li {
    list-style-type: none;
    font-size: 16px;
  }
  
  #navbar li:hover {
    font-size: 1.5em;
  }
  
  #navbar a {
    display: block;
    padding: 10px 30px;
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  #main-doc header {
    text-align: left;
    margin: 10px;
  }
  
  #main-doc {
    position: absolute;
    margin-left: 300px;
    padding-top: 20px;
    font-size: 16px;
  }
  
  section article {
    color: black;
    font-size: 1em;
    padding: 10px;
  }
  
  @media only screen and (max-width: 600px) {
    background-color: pink;
    
    #navbar ul {
      border: 1px solid;
    }
  
    #navbar {
      background-color: white;
      position: absolute;
      width: 100%;
    }
  
    #main-doc {
      position: relative;
      margin-left: 0px;
    }
  }
